<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Events</title>
    <h2>List of events</h2>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Event Size</th>
                <th>Event Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${events}">
                <td th:text=${e.eventId}></td>
                <td th:text=${e.eventName}></td>
                <td th:text=${e.eventSize}></td>
                <td th:text="${#dates.format(e.eventDate, 'dd-MM-yyyy')}"></td>
                <td>
                    <a th:href="@{/events/register/{eventId}(eventId=${e.eventId})}">Register</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>